/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL */
.container {
    width: 1200px;
    margin: 0, auto;
}



/* HEADER */ 
.top-container {
    width: 100%;
    background-color: orangered;
}
.my-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 70px;
}
li {
    display: inline-block;
}
a {
    text-decoration: none;
    color: white;
}
.my-logo {
    width: 150px;
}
i {
    color: white;
}


/* MAIN */
.col-container {
    margin: 20px 50px;
    display: flex;
}
.my-col {
    width: calc(100% / 3);
    margin: 0 20px;
    position: relative;
}
.percentuale {
    width: 12%;
    color: white;
    background-color: red;
    position: absolute;
    bottom: 100px;
}
.sostenibilita {
    color: white;
    background-color: green;
    position: absolute;
    left: 45px;
    bottom: 100px;
}
img {
    width: 100%;
}
.description {
    font-size: 0.8em;
}
.discount {
    color: red;
}
.old-price {
    text-decoration: line-through;
}

/* FOOTER */




