/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL */
.container {
    width: 1200px;
    margin: 0, auto;
}



/* HEADER */ 
.top-container {
    width: 100%;
    background-color: orangered;
}
.my-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 70px;
}
li {
    display: inline-block;
}
a {
    text-decoration: none;
    color: white;
}
.my-logo {
    width: 150px;
}
i {
    color: white;
}


/* MAIN */
.col-container {
    margin: 50px;
    display: flex;
    flex-wrap: wrap;
}
.my-col {
    width: calc((100% / 3) - 20px);
    margin: 20px;
    position: relative;
}
.percentuale {
    width: 12%;
    color: white;
    background-color: red;
    position: absolute;
    bottom: 100px;
}
.sostenibilita {
    color: white;
    background-color: green;
    position: absolute;
    left: 50px;
    bottom: 100px;
}
img {
    width: 100%

}
/*.img-1 {
    background-image: url(../images/img/1.webp);

}
.img-1:hover {
    background-image: url(../images/img/1b.webp);
}
.img-2 {
    background-image: url(../images/img/2.webp);
}
.img-2:hover {
    background-image: url(../images/img/2b.webp);
}
*/


.heart {
    position: absolute;
    background-color: white;
    padding: 10px;
    right: 0;
    top: 5px;
}

.description {
    font-size: 0.8em;
}
.discount {
    color: red;
}
.old-price {
    text-decoration: line-through;
}

/* FOOTER */

.dark-footer {
    background-color: black;
    width: 100%;
    height: 100px;
    color: white;
    /*display: flex;
    justify-content: space-around;
    align-items: center;*/
}

